body{
    background-color: black ;
    font-family: sans-serif;
    color: white;
}

header{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.himg{
    text-align: center;
}

header>.logo{
    height: 80px;
}

header>ul{
    display: flex;
    list-style-type: none;
    margin-top: 30px;
}

header>ul>li{
    margin-right: 50px;
    font-size: 8px;
    font-style: italic;
    letter-spacing: 0.2em;
}

header>ul>li:hover{
    color: #bfc500;
}

.himg>img{
    width: 1140px;
    height: 712px;
}

.first{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.first img{
  width: 164px;
  height: 164px;
  margin-top: 50px;
  margin-left: 50px;
}

.first>text{
    
     margin-left: 170px;
     margin-top: 50px;
}


.first>text>h1{
    font-weight:900;
    font-style: italic;
    width: 410px;
    font-size: 28.8px;
    margin-top: 2px;
    line-height: 1.2em;
}

.first>text>p{
    width: 624px;
    word-spacing: 0.3em;
    line-height: 1.5em;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ape{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
}

.sec>text>h3{
    color: #bfc500;
    font-size: 25.6px;
    font-style: italic;
    font-weight: 100;
    margin-bottom: 8px;
}

.sec{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 41px;
}

.sec>note{
    display: flex;
    justify-content: end;
    width: 344px;
}

.sec>note>p{
    font-size: 12.8px;
    margin-right: 70px;
    margin-top: 80px;
    font-style: italic;
    word-spacing: 00.3em;
    width: 344px;
}

.sec>text>p{
    width: 624px;
    font-size: 16px;
}

.sec>text>h4{
    font-size: 16.8px;
    font-style: italic;
    font-weight: 100;
    margin-top: 0px;
    margin-bottom: 8px;
}

.clr{
    background-color: #bfc500;
    display: flex;
    justify-content: space-evenly;
    width: 1120px;
    color: black;
    margin-right: 35px;
    height: 100px;
    margin-top: 35px;
}

.clr>h1{
    font-style: italic;
    font-size: 1.5em;
    font-weight: 800;
    text-align: center;
    margin-top: 40px;
}

.clr>p{
    font-size: 1em;
    width: 318px;
}

.clr>a{
    background: #000;
    width: 231px;
    height: 71px;
    color: #bfc500;
    margin-top: 13px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    border-radius: 10px;
    
}

.clr>a>button{
    background-color: #000;
    text-align: center;
    color: #bfc500;
    font-size: 15px;
    width: 100%;
    font-weight: 600;
    word-spacing: .35em;
    line-height: 1.5em;
    border-radius: 10px;
}

.clr>a>button:hover{
    background-color: white;
    color: #000;
}

.clr>p{
    letter-spacing: .05em;
    line-height: 1.5em;
}

hr.line{
    width: 1125px;
    height: 0px;
    border: 1px solid #3b3b3b;
    border-bottom: 1px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.third{
    display: flex;
    justify-content: space-evenly;
}

.third>text{
    width: 624px;
    margin-left: 50px;
}

.third img{
    width: 344px;
    height: 344px;
    margin-right: 50px;
}

.third>text>h2{
    font-style: italic;
    font-size: 1.7em;
    margin-bottom: 16px;
    font-weight :800;
}

.third>text>p>a{
    color: #bfc500;
    font-size: 16px;
}

.third>text>p{
    word-spacing: 0.2em;
}

.third>text>p>a:hover{
    color: white;
}

/* @media screen and (max-width : 600px){
    body{
        background-color: maroon;
    }
} */

.fourth{
    display: flex;
    flex-wrap: wrap;
    margin-left: 215px;
}

.i1,.i2,.i3,.i4,.i5{
    width: 187px;
}

.icon img{
    width: 100px;
}

.icon>.i1{
    margin: 12.9px 28.5px;
    text-align: center;
}

.icon>.i2{
    margin: 26.9px 28.5px;
    text-align: center;
}

.icon>.i3{
    margin: 26.2px 28.5px ;
    text-align: center;
}

.icon>.i4{
    margin: 7.2px 28.5px;
    text-align: center;
}

.icon>.i5{
    margin: 32.9px 28.5px;
    text-align: center;
}

div.icon{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fourth>text>p{
    width: 811px;
    line-height: 1.5em;
    letter-spacing: .06em;
    font-size: 16px;
}

div.icon p{
    font-size: 13.8px;
    width: 157px;
    /* text-align: center; */
    letter-spacing: .06em;
    line-height: 1.5em;
    margin-top: 20px;
}

div.fifth{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.fifth>text>p{
    width: 811.5px;
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 1.5em;
    letter-spacing: .06em;
}

.fifth>img{
    width: 162.77px;
    padding: 0px 15px;
    margin-right: 20px;
}

.fifth>text{
    margin-left: 65px;
}

h2{
    font-style: italic;
    font-size: 1.7em;
}

.six{
    display: flex;
    justify-content: space-evenly;
}

.six img{
    width: 319.77px;
    height: 333.75px;
}

.a10,.a20,.a40,.a60,.a80,.a90,.a100{
   display: flex;
}

.six>text p{
    margin: 0px 15.578px;
}

.six .no{
    color: #bfc500;
    margin-bottom: 16px;
}

.six>text{
    width: 748px;
    line-height: 1.5em;
    letter-spacing: .06em;
}

p.t{
    margin-bottom: 16px;
}